/** Background decoration **/

div.background-image img {
    position: absolute;
    top: 50vh;
    left: 30vw;
    z-index: -1;

    width: 50vw;
    height: auto;

    min-width: 400px;
    min-height: 400px;

    transform: rotate(30deg);
}

@media (prefers-color-scheme: dark) {
    img.light-theme {
        display: none;
    }
    img.dark-theme {
        display: block;
        opacity: 0.3;
    }
}

@media (prefers-color-scheme: light) {
    img.light-theme {
        display: block;
        opacity: 0.1;
    }
    img.dark-theme {
        display: none;
    }
}

/** Responsive dim rules **/

@media (max-width: 850px) {
    p {
        font-size: 20px;
        line-height: 1.5;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.0;
        margin-bottom: 0.5em;

    }

    div.component-bottom {
        display: none;
    }
}

/** Main **/

main {
    margin: 1rem 5rem;
}

main > section:first-child {
    margin-top: 0;
    margin-bottom: 3rem;
}

section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/** Image section **/

section.box-images h1 {
    text-align: center;
}

div.component {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.column {
    max-width: 20vw;
    text-align: center;
}

div.component h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.component p {
    line-height: 1;
}

div.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.rectangle {
    max-width: 200px;
    max-height: 200px;
    width: 20vw;
    height: auto;

    border-radius: 33px;
    border: 1px solid var(--color-border);
    box-shadow: 0 0 8px 8px var(--color-shadow);
}

div.thumbnail .hover,
h2.hover,
div.thumbnail:hover .bellow,
h2.bellow {
    display: none;
}

div.thumbnail:hover .hover,
h2.hover,
div.thumbnail .bellow,
h2.bellow {
    display: inline-grid;
}

div.thumbnail:hover img.rectangle {
    transform: scale(1.05) translate(-3%, -3%);
}

div.thumbnail h2.hover {
    text-decoration: line-through;
}